.custom-field{
    position: relative;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
    text-align: center;
    width: 100%;
}

.custom-field textarea{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 91%;
    display: table-cell;
    outline: none;
    font-size: 14px;
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
    resize: vertical;
}

.custom-field .error-message {
    width: 91%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    color: #d30909;
    background: #fff;
    height: 24px;
}

.custom-field .error-message:empty {
    opacity: 0;
}